<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Alessandro</title>
</head>

<body>
    <div class="container">
        <div id="ione" class="images ione"></div>
        <div id="itwo" class="images itwo"></div>
        <div id="ithree" class="images ithree"></div>
        <div id="ifour" class="images ifour"></div>
    </div>

    <script src="../script/index.js"></script>
</body>

</html>